.grid {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  min-height: 100vh;
  margin-top: 70px;
}

.colonna-centrale {
  background-color: rgb(255, 255, 255);
  flex: 1;
  display: grid;
  grid-template-rows: max-content;
  padding: 0;
  margin: 0;
}

.colonna-centrale * {
  padding: 0;
  margin: 0;
}

.luoghi {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  margin-left: 3px;
  margin-right: 3px;
}

@media (max-width: 1200px) {
  .luoghi {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 800px) {
  .luoghi {
    grid-template-columns: 1fr;
  }
}

.luogo {
  border: 3px solid black;
  background-color: white;
  position: relative;
  overflow: hidden;
  font-size: 20px;
  margin-left: -3px;
  margin-right: -3px;
}

.nome-luogo {
  margin-top: 5px;
  margin-bottom: 5px;
}

.immagine {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 300px;
  max-width: 100%;
  margin: 0;
  display: block;
  z-index: 0;
}

.img-luogo {
  border-top: 2px solid black;
}

.overlay {
  display: flex;
  justify-content: center;
  padding: 20px;
  z-index: 1;
  background-color: rgb(129, 126, 126, 50%);
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(300px);
  transition: 0.3s;
}

.luogo:hover .overlay {
  transform: translateY(0);
}

.bottone {
  background-color: white;
  color: black;
  font-size: 20px;
  padding: 15px 30px;
  border: 2px solid #00a6d6;
  border-radius: 5px;
  font-weight: 200;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s;
  margin: 6px;
}

.bottone:hover {
  background-color: #00a6d6;
  color: white;
}

.popup {
  display: none;
  grid-template-columns: 300px 400px;
  align-self: center;
  justify-self: center;
  height: 360px;
  position: fixed;
  padding: 10px;
  top: 25%;
  background: #fff;
  border-radius: 10px;
  text-align: left;
  z-index: 5;
}

.popup:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -2;
}

.popup:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  z-index: -1;
  border-radius: 10px;
}

.popup-form {
  display: grid;
  grid-template-rows: 40px auto auto;
  padding-left: 10px;
}

.close {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border-style: solid;
  cursor: pointer;
  transition: 0.2s;
}

.close:after {
  content: "\00D7";
  font-size: 30px;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.close:hover {
  background: rgba(153, 153, 153, 0.5);
}

.popup-form-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.submit {
  background-color: white;
  color: black;
  font-size: 20px;
  padding: 5px 10px;
  border: 2px solid #00a6d6;
  border-radius: 5px;
  font-weight: 100;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s;
  justify-self: center;
  align-self: center;
}

.submit:hover {
  background-color: #00a6d6;
  color: white;
}

.prenotazioni-pending {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  font-size: 18px;
}

.prenotazioni-pending form {
  box-sizing: border-box;
  display: flex;
  flex: 1 1 calc(33.3333% - 10px);
  max-width: calc(33.3333% - 10px);
  background-color: #edc9af;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  margin: 5px;
}

.prenotazioni-pending form div {
  flex: 1;
}

.prenotazioni-pending form p {
  margin-bottom: 10px;
}

.prenotazioni-pending button {
  width: 80px;
  height: 30px;
  font-size: 16px;
  letter-spacing: 0.5px;
  border-radius: 5px;
  border-style: solid;
  border-width: 0.2px;
  transition: 0.3s;
}

@media (max-width: 1400px) {
  .prenotazioni-pending form {
    flex: 1 1 calc(50% - 10px); /* Adjust for the margin */
    max-width: calc(50% - 10px); /* Adjust for the margin */
  }
}

@media (max-width: 1000px) {
  .prenotazioni-pending form {
    flex: 1 1 100%;
    max-width: 100%;
    margin: 5px 0; /* No horizontal margin on small screens */
  }
}

.prenotazioni-pending img {
  max-height: 100px;
}
