p {
  font-size: 20px;
}

.title {
  padding: 30px 16px;
}

.logo {
  font-size: 80px;
  font-weight: bolder;
}

.center {
  text-align: center;
}

.green {
  background-color: #00a6d6;
}

.lightgreen {
  background-color: #a67b5b;
}

.grid {
  display: grid;
  grid-template-columns: 20% 1fr 20%;
  height: 100vh;
}

.buttons {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 40px;
}

.button {
  background-color: #00a6d6;
  color: #ffffff;
  font-size: 20px;
  padding: 15px 30px;
  border: 1px solid transparent;
  border-radius: 5px;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s;
  margin: 6px;
}
.button:hover {
  background-color: #51cff1;
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.form-step {
  display: none;
}

.id {
  border-radius: 5px;
  border-style: solid;
  height: 50.5px;
  width: 220px;
  margin-right: -20px;
  font-size: 30px;
}

.id-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.id-button {
  background-color: #00a6d6;
  color: #ffffff;
  font-size: 20px;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 5px;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s;
  margin: 6px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.id-button:hover {
  background-color: #51cff1;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
