* {
  font-family: "Rubik", sans-serif;
}

body,
h1 {
  margin: 0;
}

.blue {
  background-color: #00a6d6;
}

.lightblue {
  background-color: #82cde2;
}

.brown {
  background-color: #a67b5b;
}

.lightbrown {
  background-color: #edc9af;
}
