.prenotazioni {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: white;
  margin: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.prenotazioni li {
  margin-bottom: 15px;
}
