body {
  margin: 0;
  padding: 0;
}

/* Style the navigation bar */
.navbar {
  display: flex;
  flex-direction: row;
  background-color: #2a9b3d;
  overflow: auto;
  font-family: "Lato", sans-serif;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  text-decoration: none;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #04aa6d5e;
  color: rgba(0, 0, 0, 0.39);
}

/* Current/active navbar link */
.active {
  background-color: #04aa6d;
}

.navbar--menu {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
}

.sezione {
  height: auto;
  width: 25%;
  padding-top: 25px;
  font-size: 25px;
}
