body {
  margin: 0;
  padding: 0;
}

/* Style the navigation bar */
.navbar {
  width: auto;
  background-color: #2a9b3d;
  overflow: auto;
  padding-left: 100px;
  padding-right: 100px;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding-top: 3px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 3px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.active {
  background-color: #04AA6D;
}