.grid {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  height: 100vh;
  margin-top: 70px;
}

.formTicket,
.collapse {
  max-height: 0;
  overflow: hidden;
  padding-left: 3%;
  padding-right: 4%;
  padding-top: 1%;
}

.openBtn {
  width: 100%;
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
  text-align: center;
  align-items: center;
  cursor: pointer;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: all 300ms ease;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.active,
.openBtn:hover {
  background-color: rgb(158, 218, 185);
}

.descrizione {
  width: 100%;
  resize: none;
}

.tab {
  padding: 1.4rem;
}

.tablinks {
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: none;
  cursor: pointer;
  background-color: transparent;
  margin-bottom: 8px;
}

.tablinks:hover,
.tablinks.active {
  border-bottom: 0.5px solid rgb(148, 175, 144);
  font-weight: bolder;
  font-size: larger;
  transition: all 300ms ease;
}

.table-ticket {
  table-layout: fixed;
  width: 100%;
}

table tr td {
  padding-left: 1rem;
}

.open {
  color: green;
}

.closed {
  color: red;
}

.pending {
  color: orange;
}

.modal-content {
  width: 60%;
  max-width: auto;
}

textarea {
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

.response-text {
  margin: 3px;
}

.response-time {
  font-size: smaller;
  margin-bottom: 20px;
}

.ticket-title {
  font-size: large;
  font-weight: 700;
}

.ticket-replies{
  max-height: 450px;
  overflow-y: auto;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  gap: 10px; 
}

.button-container button {
  margin-top: 10px;
}
