.grid {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  min-height: 100vh;
  margin-top: 70px;
}

.bacheca {
  display: table;
  width: 100%;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  border-radius: 10px;
  background-color: white;
}

.bacheca-types {
  display: table-cell;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.bacheca-types__input {
  position: absolute;
  visibility: hidden;
}

.bacheca-types__label {
  display: block;
  padding: 1em 0.25em;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  border-radius: 10px;
  transition: ease-in-out 0.1s;
}

.bacheca-types__input:checked + .bacheca-types__label {
  background: rgba(158, 232, 255, 0.87);
  font-weight: bold;
}

.tabcontent {
  display: none;
}

.post {
  background-color: white;
  padding: 30px;
  padding-top: 0;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post.response {
  background-color: #f9f9f9;
  margin-left: 5px;
  box-shadow: none;
}

.responses {
  margin-top: 10px;
  display: none;
}

.response-form,
.comment-form {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  align-items: flex-start;
}

.response-input,
.comment-input {
  font-size: 16px;
  display: flex;
  flex-grow: 1;
  padding: 10px 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  border: 1px solid #9b9b9b;
}

.response-button {
  font-size: 16px;
  min-width: 10%;
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: 1px solid #00a6d6;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.response-button:hover {
  background-color: #00a6d6;
  color: white;
}

.post-title {
  margin: 0 0 10px;
  font-size: 22px;
}

.author-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.post-content {
  margin: 0 0 40px;
  font-size: 20px;
}

.post-date,
.thread-date {
  font-size: 16px;
  color: #888;
}

.post-author {
  font-size: 18px;
}

.thread {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 8px;
  margin: 8px 0 0 10px;
  background-color: #dddddd;
}

.thread-author {
  font-size: 16px;
}

.toggle-comments,
.toggle-thread-comments {
  font-size: 16px;
  background-color: #00a6d6;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.toggle-comments:hover,
.toggle-thread-comments:hover {
  background-color: #007bb5;
}

.comment {
  border: 1px solid #eee;
  padding: 6px;
  margin: 6px 0 0 40px;
  background-color: #f1f1f1;
}

.comment-content {
  font-size: 1em;
  margin: 5px 0;
}

.comment-date {
  font-size: 0.8em;
  color: #999;
}

.post-tag-prova {
  background-color: #cf7b7b;
  color: #333;
  font-size: 0.8em;
  padding: 3px 6px;
  border-radius: 5px;
  margin-left: 5px;
}

.post-form {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

.post-form-bottom {
  display: flex;
  justify-content: space-between;
}

.tags-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tags {
  margin-right: 10px;
}

.form-title,
.post-form textarea {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #9b9b9b;
  font-size: 18px;
  padding: 5px;
}

.tags,
.form-date {
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #9b9b9b;
}

.submit-button {
  font-size: 18px;
  padding: 8px 50px;
  border: 2px solid #00a6d6;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  transition: 0.3s;
}

.submit-button:hover {
  background-color: #00a6d6;
  color: white;
}

.form-title {
  height: 30px;
}

.post-form textarea {
  height: 90px;
  resize: none;
}

.posts-container {
  background-color: rgb(166 123 91);
  overflow-y: auto;
}

.delete-post-button,
.enable-disable-comment-button {
  margin-top: 3px;
  margin-right: 3px;
  padding: 5px 10px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-post-button:hover {
  background-color: #c0392b;
}

.enable-disable-comment-button {
  background-color: rgb(122, 63, 231);
}

.enable-disable-comment-button:hover {
  background-color: rgb(88, 46, 167);
}
