.flexbox {
  display: flex;
  flex-direction: row;
  height: 93.1vh;
  padding-top: 49px;
}

.bacheca {
  display: table;
  width: 100%;
  margin: 0;
  padding: 0;
}

.bacheca-types {
  display: table-cell;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.bacheca-types__input {
  position: absolute;
  visibility: hidden;
}

.bacheca-types__label {
  display: block;
  margin: 0 -1px -1px 0; /* -1px margin removes double-thickness borders between items */
  padding: 1em 0.25em;

  border: 1px solid #ddd;

  font: 14px/1.5 sans-serif;
  text-align: center;

  cursor: pointer;
}

.bacheca-types__label:hover {
  background: #fafafa;
}

.bacheca-types__input:checked + .bacheca-types__label {
  background: #eee;
  color: #333;
}

.contatti-utili {
  display: grid;
  margin: 5rem auto;
  overflow: auto;
  background-color: white;
  width: 90%;
  max-width: 40rem;
  box-shadow: 0 1rem 2.5rem rgb(84, 126, 83);
}

.contatti-utili__nome {
  border-bottom: 1px solid #ccc;
  padding: 1.5rem 2rem;
}

.tabcontent {
  display: none;
}
