.colonna-centrale {
  background-color: rgb(255, 255, 255);
  flex: 1;
  display: grid;
  grid-template-rows: max-content;
  padding: 0;
  margin: 0;
}

.colonna-centrale * {
  padding: 0;
  margin: 0;
}

.luoghi {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  text-align: center;
}

.luogo {
  border: 1px solid black;
  background-color: white;
  position: relative;
  overflow: hidden;
  font-size: 20px;
}

.immagine {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 300px;
  max-width: 100%;
  margin: 0;
  margin-top: 17px;
  display: block;
  z-index: 0;
}

.overlay {
  display: flex;
  justify-content: center;
  padding: 20px;
  z-index: 1;
  background-color: rgb(129, 126, 126, 50%);
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(300px);
  transition: 0.3s;
}

.luogo:hover .overlay {
  transform: translateY(0);
}

.bottone {
  background-color: #2f9b3d;
  color: #ffffff;
  font-size: 20px;
  padding: 15px 30px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 200;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s;
  margin: 6px;
}

.bottone:hover {
  background-color: #3bbd4c;
}

.popup {
  display: none;
  grid-template-columns: 300px 400px;
  align-self: center;
  justify-self: center;
  height: 340px;
  position: fixed;
  padding: 10px;
  top: 25%;
  background: #fff;
  border-radius: 10px;
  z-index: 1;
}

.popup:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -2;
}

.popup:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  z-index: -1;
  border-radius: 10px;
}

.popup-form {
  display: grid;
  grid-template-rows: 40px auto auto;
  padding-left: 10px;
}

.close {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border-style: solid;
  cursor: pointer;
  transition: 0.2s;
}

.close:after {
  content: "\00D7";
  font-size: 30px;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.close:hover {
  background: rgba(153, 153, 153, 0.5);
}
